* {
    
    margin: 0px;
    padding: 0px;
}





.home {
    background-color: white;
}

.contact {
    background-color: white;
}

.about {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  
}





a {
    color: white;
    text-decoration: none;
}

h1 {
    color: #1e739a;
}

h2 {
    color: white;
}

p {
    color: #1e739a;
}

.opacity {
    opacity: 20%;
    position: relative;
}

.artikel p {
    color:#1e739a
}




li {
    list-style: none;
    font-size: 20px;

}

.navigatie li {

    display: inline-block;
    margin: 20px;

}

.navigatie ul {
    padding-left: 45%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: inherit;
    margin-top: 0px;


}

.logo {
    width: 5%;

}

.logo2 {
    width: 5%;

}



.box p {
    margin-left: 7em;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    margin-top: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: black;

}


.navigatie h2 {
    font-family: 'Varela Round', sans-serif;
    margin-left: 55px;
    font-size: 25px;
    display: inline-block;
    margin-top: 0px;
}

.box h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    margin-left: 2.8em;
    margin-top: 100px;
    font-weight: initial;
    margin-bottom: 50px;

}

.navigatie {
    background-color: #1e739a;
}






.Home {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}



.navigatie a:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.artikel {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 50px;
  
}

.artikel img {
    width: 100%;
}





.box1 img {
    /* float: right; */
    /* padding: 70px;
    width: 60%;   
    margin: 50px;
    margin-top: 70px */

   
    flex: 1;

}

.box div {
    flex: 1;
}

.box2 {
    font-size: 18px;
    margin: 20px;
    font-family: 'Varela Round', sans-serif;


        
}

.box1 {
    font-size: 18px;
    margin: 20px;
    font-family: 'Varela Round', sans-serif;


}
.box3 {
    font-size: 18px;
    margin: 20px;
    font-family: 'Varela Round', sans-serif;


}














/* home  */



.menu p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 35px;


}

.menu h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 60px;
    font-size: 55px;
    margin-top: 50px;

}

.imagesabout {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 100px;

}

.zetel {
    width: 25%;

}

.kamer {
    width: 25%;


}

.blauwe-huis {

    width: 25%;

}

 
.info-levenslust {
    width: 70%;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin-left: 230px;
  margin-bottom: 200px;
  font-size: 1.2em;
    

}

.text1 {
flex: 1;
margin-right: 90px;


}
.text2 {
flex: 1;
}


/* about */

.about-section1 {
    height: 100vh;
    
}



.about-section1 h1 {
    margin-top: 40px;


margin-bottom: 40px;
}

.a li {
    font-size: 18px;
    color: #1e739a;
}










.contact-form {
    margin: auto;
    width: 600px;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    border-radius: 10px;
    display: block;
    width: 40%;
    box-sizing: border-box;
    margin: 16px 0 20px 450px;
    border: 0;
    background-color: white;
    padding: 20px 40px;
    outline: none;
    color: grey;
    transition: 0.5s;
}

.contact-form-text:hover {
    box-shadow: 0 0 10px black;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px black;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
    margin-left: 450px;

}

.contact-form-btn {
    margin-left: 450px;
    border: 0;
    background: white;
    color: #334961;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    box-shadow: 0 0 10px white;

}

.contact-bg {
    background-color: #334961;
    height: 100vh;
}

/* contact */


.contactmenu {
    display: flex;
}



footer {

    background-color: #1e739a;
    
    width: auto;
    height: 38vh;
    margin-top: 349px;
}

footer li {
    margin-left: 300px;
    margin-top: 5px;
    font-family: 'Varela Round', sans-serif;

}

