* {
    margin: 0px;
    padding: 0px;
}





.home {
    background-color: white;
}

.contact {
    background-color: white;
}

.about {
    background-color: white;
}





a {
    color: white;
    text-decoration: none;
}

h1 {
    color: #1e739a;
}

h2 {
    color: white;
}

p {
    color: #1e739a;
}

.opacity {
    opacity: 20%;
    position: relative;
}




li {
    list-style: none;
    font-size: 20px;

}

.navigatie li {

    display: inline-block;
    margin: 20px;

}

.navigatie ul {
    padding-left: 45%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: inherit;
    margin-top: 0px;


}

.logo  {
    width: 5%;

}

.logo2  {
    width: 5%;

}



.box p {
    margin-left: 10em;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    margin-top: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: black;

}


.navigatie h2 {
    font-family: 'Varela Round', sans-serif;
    margin-left: 55px;
    font-size: 25px;
    display: inline-block;
    margin-top: 0px;
}

.box h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    margin-left: 2.8em;
    margin-top: 100px;
    font-weight: initial;
    margin-bottom: 50px;

}

.navigatie {
    background-color: #1e739a;
}






.Home {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}



.navigatie a:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.artikel {
    display: flex;

}

.box1 img {
    /* float: right; */
    padding: 70px;
    width: 60%;   
    margin: 50px;
    margin-top: 70px
}

.box div {
    flex: 1;
}






/* werken bij ons  */



.menu p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 35px;


}

.menu h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 20px;
    font-size: 55px;
    margin-top: 60px;

}

.imagesabout {

    text-align: center;
}



  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
   
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e7199;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: white;
    color: black;
    
   
    
    
    
  }
 



  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }




.contact-form {
    margin: auto;
    width: 600px;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    border-radius: 10px;
    display: block;
    width: 40%;
    box-sizing: border-box;
    margin: 16px 0 20px 450px;
    border: 0;
    background-color: white;
    padding: 20px 40px;
    outline: none;
    color: grey;
    transition: 0.5s;
}

.contact-form-text:hover {
    box-shadow: 0 0 10px black;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px black;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
    margin-left: 450px;

}

.contact-form-btn {
    margin-left: 450px;
    border: 0;
    background: white;
    color: #334961;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    box-shadow: 0 0 10px white;

}

.contact-bg {
    background-color: #334961;
    height: 100vh;
}

/* contact */


.contactmenu {
    display: flex;
}






 